<div class="about-container">
    <h1>Sobre o Projeto</h1>
    <section class="project-info">
      <h2>Projeto de Integração de Pagamentos</h2>
      <p>
        Este projeto foi desenvolvido para gerenciar vendas e processar pagamentos de maneira segura e eficiente, utilizando a API da Cielo para transações de cartão de crédito. Implementamos funcionalidades completas de criação, listagem e cancelamento de vendas, com suporte a diferentes bandeiras de cartão, como Visa, Mastercard, American Express e Elo.
      </p>
      <p>
        A aplicação oferece uma interface de usuário moderna, desenvolvida com Angular e Material Design, garantindo uma experiência fluida e intuitiva para os usuários. Além disso, o backend é construído utilizando Spring Boot, assegurando um alto nível de segurança e criptografia de dados sensíveis, como números de cartão e códigos de segurança.
      </p>
      <p>
        Também incorporamos a geração de relatórios detalhados de vendas, com possibilidade de cancelar transações de forma rápida e eficiente, utilizando as melhores práticas de arquitetura de software e integração de APIs.
      </p>
    </section>
  
    <h1>Sobre o Desenvolvedor</h1>
    <section class="developer-info">
      <h2>Douglas Soares de Souza Ferreira</h2>
      <p>
        Sou um desenvolvedor apaixonado por tecnologia e soluções inovadoras, com sólida experiência em desenvolvimento full-stack, tanto no front-end quanto no back-end. Minha principal missão é transformar ideias em soluções tecnológicas que agregam valor ao negócio e à experiência do usuário.
      </p>
      <p>
        Tenho forte conhecimento em linguagens como Java, JavaScript (Angular, Node.js), e frameworks como Spring Boot e Flutter. Com 23 anos e graduado em Ciência da Computação pela PUC-GO, trago uma combinação de habilidades técnicas e criatividade para resolver problemas de maneira eficiente e colaborativa.
      </p>
      <p>
        No projeto de integração de pagamentos, fui responsável por desenvolver toda a estrutura de comunicação entre o front-end e a API da Cielo, garantindo que as transações fossem realizadas de forma segura, rápida e dentro dos padrões de segurança exigidos.
      </p>
    </section>
  </div>
  