<div class="login-container">
 
    <h2>Olá! Bem-vindo de volta!</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <input type="email" formControlName="email" placeholder="Email" />
      <input type="password" formControlName="password" placeholder="Senha" />
      <button type="submit" [disabled]="loading">Entrar</button>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </form>
    <p class="register-link">
      Não tem uma conta?
    </p>
    <button mat-stroked-button color="accent" (click)="goToRegister()">Cadastre-se</button>
 
</div>
