<div class="register-container">
  <h2>Registrar</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="name" placeholder="Nome" />
    <input type="email" formControlName="email" placeholder="Email" />
    <input type="password" formControlName="password" placeholder="Senha" />
    <button type="submit" [disabled]="loading">Registrar</button>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  </form>
  <p class="register-link">
    Já tem uma conta?  <button mat-stroked-button color="accent" (click)="goToList()">Faça login</button>
  </p>    
</div>
